
.titlelist_li{
    font-size: 0.5rem;
    color: white;
    display: inline-block;
    width: 28%;
    text-align: center;

}

.list{
    /*position: relative;*/
    background-color: white;

    height: 120px;

    clear: both;
}